* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1rem;
}

.App {
    width: 400px;
    height: 800px;

    background-color: aliceblue;

    margin: 0px auto;
}

.App form div{

    display: flex;
    flex-direction: column;
}